
.number-wrap {
  background-image: url('../../../resource/image/price_background.png');
  background-repeat: repeat-x;
  background-size: 68px 105px;
  height: 105px;
  font-size: 80px;
  color: #FFFFFF;
  font-weight: bold;
  line-height: 100px;
  text-align: center;
  margin-right: 16px;
}

/* .card-number {
} */